<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
  <title>Детский сад "Родничок"</title>
</head>
<body>
  <header>
    <div class="rubik-bubbles-regular">
    <h1>Родничок</h1>
    </div>
  </header>

  <nav>
    <a href="/about">О нас</a>
    <a href="#programs">Программы</a>
  </nav>

  <section class="fon">
    <div class="font">
      <h2>Контакты</h2>
      <p>Телефон: +7 (123) 456-7890</p>
      <p>Email: info@solnechny.ru</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Детский сад "Родничок"</p>
  </footer>

</body>
</html>