<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
    <header>
        <h1>Регистрация</h1>
    </header>
<body class="reg">
    <div class="container">
        <form method="POST">
            <div class="log">
                <input type="text" name="username" placeholder="Логин" required>
            </div>
            <br>
            <div class="log">
                <input type="password" name="password" placeholder="Пароль" required>
            </div>
            <br>
            <div class="log">
                <button type="submit">Зарегестрироваться</button>
            </div>
        </form>
    </div>
</body>

